<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Reset your password for NextCorp account." />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="icon" href="../images/NextCorp_favicon.png" type="image/x-icon" />
    <title>NextCorp</title>
    <!-- Import nunito sans font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet" />
  </head>

  <body>
    <!-- Header -->
    <header class="main-header">
      <h1>NextCorp</h1>
    </header>
    <!-- Form -->
    <section class="main-content">
      <form class="sign-in-form" method="POST" action="{{ url_for('handle_reset_password') }}">
        <div class="form-header">
          <img class="account-icon" src="../images/key_icon.png" alt="Key Icon" />
        </div>
        <div class="form-body">
          <input type="password" name="new_password" placeholder="New Password" required />
          <input type="password" name="confirm_password" placeholder="Confirm New Password" required />
          <div class="buttons">
            <button type="submit" class="submit-button">Submit</button>
            <button type="reset" class="cancel-button">Cancel</button>
          </div>
          <p>
            <a href="sign_in.html">Back to Sign In</a>
          </p>
        </div>
      </form>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <hr />
      <p>Copyright &copy; NextCorp 2024</p>
    </footer>
    <!-- Script -->
    <script src="{{ url_for('static', filename='scripts/reset_password.js') }}"></script>
  </body>
</html>
